body {
  background-color: #f4d04e;
  font-family: "Figtree", sans-serif;
}

p {
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color: #ffffff;
  border-radius: 20px;
    box-shadow: 8px 8px;
  overflow: hidden;
  font-family: "Figtree", sans-serif;
}

.card-img {

  border-radius: 10px;
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #eee;
  object-fit:cover;
}


.category {
  background: #f4d04e;
  color: #000;
  display: inline-block;
  padding: 4px 12px;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 12px;
}

.title {
  font-size: 20px;
  font-weight: 800;
  margin: 10px 0;
  cursor: pointer;
}

.title:hover {
  color: #f4d04e;
}

.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.author-name{
  font-weight: 800;
}
